In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\pavan\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in c:\users\pavan\anaconda3\lib\site-packages (from pyspark) (0.10.9)

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("practice").getOrCreate()

In [5]:
spark

## list of content
* PySpark Dataframe
* Reading The Dataset
* Checking the Datatypes of the Column(Schema)
* Selecting Columns And Indexing
* Check Describe option similar to Pandas
* Adding Columns
* Dropping columns
* Renaming Columns
* Various Parameter In Dropping functionalities
* Handling Missing values by Mean, MEdian And Mode

In [6]:
#reading a dataset
df_spark = spark.read.csv("car data.csv")
df_spark.show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|          _c0| _c1|          _c2|          _c3|       _c4|      _c5|        _c6|         _c7|  _c8|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|
|         ritz|2014|         3.35|         5.59|      null|   Petrol|     Dealer|      Manual|    0|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2017|         7.25|         null|      6900|   Petrol|     Dealer|      Manual|    0|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|
|vitara brezza|2018|         null|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|
|      s cross|2015|          6.5|         8.61|      null|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         null|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|
|         ciaz|2015|         6.85|        10.38|      null|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         null|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|         null|     43000|   Diesel|     Dealer|      Manual|    0|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
only showing top 20 rows

In [7]:
#for getting actual variable names.
df_spark1 = spark.read.option("header","true").csv("car data.csv",inferSchema=True)
df_spark1.show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|         ritz|2014|         3.35|         5.59|      null|   Petrol|     Dealer|      Manual|    0|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2017|         7.25|         null|      6900|   Petrol|     Dealer|      Manual|    0|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|
|vitara brezza|2018|         null|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|
|      s cross|2015|          6.5|         8.61|      null|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         null|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|
|         ciaz|2015|         6.85|        10.38|      null|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         null|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|         null|     43000|   Diesel|     Dealer|      Manual|    0|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
only showing top 20 rows

In [8]:
#checking of type
type(df_spark1)

pyspark.sql.dataframe.DataFrame

In [9]:
#check the schema
df_spark1.printSchema()

root
 |-- Car_Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Selling_Price: double (nullable = true)
 |-- Present_Price: double (nullable = true)
 |-- Kms_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner: integer (nullable = true)

In [10]:
### Get count of null values
from pyspark.sql.functions import isnan, when, count, col

df_spark1.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_spark1.columns]).show()

+--------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|       0|   0|            3|            2|         3|        0|          0|           0|    0|
+--------+----+-------------+-------------+----------+---------+-----------+------------+-----+

In [11]:
#check column names
df_spark1.columns

['Car_Name',
 'Year',
 'Selling_Price',
 'Present_Price',
 'Kms_Driven',
 'Fuel_Type',
 'Seller_Type',
 'Transmission',
 'Owner']

In [12]:
#accessing any column
df_spark1.select("Year").show()

+----+
|Year|
+----+
|2014|
|2013|
|2017|
|2011|
|2014|
|2018|
|2015|
|2015|
|2016|
|2015|
|2017|
|2015|
|2015|
|2015|
|2009|
|2016|
|2015|
|2016|
|2015|
|2010|
+----+
only showing top 20 rows

In [13]:
##accessing multiple columns
df_spark1.select(["Year","Selling_Price"]).show()

+----+-------------+
|Year|Selling_Price|
+----+-------------+
|2014|         3.35|
|2013|         4.75|
|2017|         7.25|
|2011|         2.85|
|2014|          4.6|
|2018|         null|
|2015|         6.75|
|2015|          6.5|
|2016|         8.75|
|2015|         null|
|2017|         2.85|
|2015|         6.85|
|2015|         null|
|2015|          6.1|
|2009|         2.25|
|2016|         7.75|
|2015|         7.25|
|2016|         7.75|
|2015|         3.25|
|2010|         2.65|
+----+-------------+
only showing top 20 rows

In [14]:
#checking data types
df_spark1.dtypes

[('Car_Name', 'string'),
 ('Year', 'int'),
 ('Selling_Price', 'double'),
 ('Present_Price', 'double'),
 ('Kms_Driven', 'int'),
 ('Fuel_Type', 'string'),
 ('Seller_Type', 'string'),
 ('Transmission', 'string'),
 ('Owner', 'int')]

In [15]:
# checking describe as in pandas 
df_spark1.describe().show()

+-------+--------+------------------+-----------------+-----------------+-----------------+---------+-----------+------------+-------------------+
|summary|Car_Name|              Year|    Selling_Price|    Present_Price|       Kms_Driven|Fuel_Type|Seller_Type|Transmission|              Owner|
+-------+--------+------------------+-----------------+-----------------+-----------------+---------+-----------+------------+-------------------+
|  count|     301|               301|              298|              299|              298|      301|        301|         301|                301|
|   mean|   800.0|2013.6279069767443|4.627013422818796|7.610468227424751|36945.23489932886|     null|       null|        null|0.04318936877076412|
| stddev|     NaN|2.8915541273367253|5.096129924616662| 8.67016638299903|39069.48461583102|     null|       null|        null| 0.2479148926949198|
|    min|     800|              2003|              0.1|             0.32|              500|      CNG|     Dealer|   Automatic|                  0|
|    max|   xcent|              2018|             35.0|             92.6|           500000|   Petrol| Individual|      Manual|                  3|
+-------+--------+------------------+-----------------+-----------------+-----------------+---------+-----------+------------+-------------------+

In [16]:
#adding new column to the dataframe
new_df = df_spark1.withColumn("Purchased price",df_spark1["Selling_Price"]*1.5)
new_df.show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+------------------+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|   Purchased price|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+------------------+
|         ritz|2014|         3.35|         5.59|      null|   Petrol|     Dealer|      Manual|    0|             5.025|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|             7.125|
|         ciaz|2017|         7.25|         null|      6900|   Petrol|     Dealer|      Manual|    0|            10.875|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|             4.275|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|6.8999999999999995|
|vitara brezza|2018|         null|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|              null|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|            10.125|
|      s cross|2015|          6.5|         8.61|      null|   Diesel|     Dealer|      Manual|    0|              9.75|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|            13.125|
|         ciaz|2015|         null|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|              null|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|             4.275|
|         ciaz|2015|         6.85|        10.38|      null|   Diesel|     Dealer|      Manual|    0|10.274999999999999|
|         ciaz|2015|         null|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|              null|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0| 9.149999999999999|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|             3.375|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|            11.625|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|            10.875|
|       ertiga|2016|         7.75|         null|     43000|   Diesel|     Dealer|      Manual|    0|            11.625|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|             4.875|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|3.9749999999999996|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+------------------+
only showing top 20 rows

In [17]:
#droping column
new_df = new_df.drop('Seller_Type')
new_df.show()

+-------------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Transmission|Owner|   Purchased price|
+-------------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|         ritz|2014|         3.35|         5.59|      null|   Petrol|      Manual|    0|             5.025|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|      Manual|    0|             7.125|
|         ciaz|2017|         7.25|         null|      6900|   Petrol|      Manual|    0|            10.875|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|      Manual|    0|             4.275|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|      Manual|    0|6.8999999999999995|
|vitara brezza|2018|         null|         9.83|      2071|   Diesel|      Manual|    0|              null|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|      Manual|    0|            10.125|
|      s cross|2015|          6.5|         8.61|      null|   Diesel|      Manual|    0|              9.75|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|      Manual|    0|            13.125|
|         ciaz|2015|         null|         8.92|     42367|   Diesel|      Manual|    0|              null|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|      Manual|    0|             4.275|
|         ciaz|2015|         6.85|        10.38|      null|   Diesel|      Manual|    0|10.274999999999999|
|         ciaz|2015|         null|         9.94|     15000|   Petrol|   Automatic|    0|              null|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|      Manual|    0| 9.149999999999999|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|      Manual|    0|             3.375|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|      Manual|    0|            11.625|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|      Manual|    0|            10.875|
|       ertiga|2016|         7.75|         null|     43000|   Diesel|      Manual|    0|            11.625|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|      Manual|    0|             4.875|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|      Manual|    0|3.9749999999999996|
+-------------+----+-------------+-------------+----------+---------+------------+-----+------------------+
only showing top 20 rows

In [18]:
#Renaming column
new_df = new_df.withColumnRenamed('Car_name','Model_name')
new_df.show()

+-------------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|   Model_name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Transmission|Owner|   Purchased price|
+-------------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|         ritz|2014|         3.35|         5.59|      null|   Petrol|      Manual|    0|             5.025|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|      Manual|    0|             7.125|
|         ciaz|2017|         7.25|         null|      6900|   Petrol|      Manual|    0|            10.875|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|      Manual|    0|             4.275|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|      Manual|    0|6.8999999999999995|
|vitara brezza|2018|         null|         9.83|      2071|   Diesel|      Manual|    0|              null|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|      Manual|    0|            10.125|
|      s cross|2015|          6.5|         8.61|      null|   Diesel|      Manual|    0|              9.75|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|      Manual|    0|            13.125|
|         ciaz|2015|         null|         8.92|     42367|   Diesel|      Manual|    0|              null|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|      Manual|    0|             4.275|
|         ciaz|2015|         6.85|        10.38|      null|   Diesel|      Manual|    0|10.274999999999999|
|         ciaz|2015|         null|         9.94|     15000|   Petrol|   Automatic|    0|              null|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|      Manual|    0| 9.149999999999999|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|      Manual|    0|             3.375|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|      Manual|    0|            11.625|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|      Manual|    0|            10.875|
|       ertiga|2016|         7.75|         null|     43000|   Diesel|      Manual|    0|            11.625|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|      Manual|    0|             4.875|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|      Manual|    0|3.9749999999999996|
+-------------+----+-------------+-------------+----------+---------+------------+-----+------------------+
only showing top 20 rows

In [19]:
#droping null values.

new_df.na.drop().show()

+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|Model_name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Transmission|Owner|   Purchased price|
+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|       sx4|2013|         4.75|         9.54|     43000|   Diesel|      Manual|    0|             7.125|
|   wagon r|2011|         2.85|         4.15|      5200|   Petrol|      Manual|    0|             4.275|
|     swift|2014|          4.6|         6.87|     42450|   Diesel|      Manual|    0|6.8999999999999995|
|      ciaz|2015|         6.75|         8.12|     18796|   Petrol|      Manual|    0|            10.125|
|      ciaz|2016|         8.75|         8.89|     20273|   Diesel|      Manual|    0|            13.125|
|  alto 800|2017|         2.85|          3.6|      2135|   Petrol|      Manual|    0|             4.275|
|    ertiga|2015|          6.1|         7.71|     26000|   Petrol|      Manual|    0| 9.149999999999999|
|     dzire|2009|         2.25|         7.21|     77427|   Petrol|      Manual|    0|             3.375|
|    ertiga|2016|         7.75|        10.79|     43000|   Diesel|      Manual|    0|            11.625|
|    ertiga|2015|         7.25|        10.79|     41678|   Diesel|      Manual|    0|            10.875|
|   wagon r|2015|         3.25|         5.09|     35500|      CNG|      Manual|    0|             4.875|
|       sx4|2010|         2.65|         7.98|     41442|   Petrol|      Manual|    0|3.9749999999999996|
|  alto k10|2016|         2.85|         3.95|     25000|   Petrol|      Manual|    0|             4.275|
|     ignis|2017|          4.9|         5.71|      2400|   Petrol|      Manual|    0|7.3500000000000005|
|       sx4|2011|          4.4|         8.01|     50000|   Petrol|   Automatic|    0|6.6000000000000005|
|  alto k10|2014|          2.5|         3.46|     45280|   Petrol|      Manual|    0|              3.75|
|   wagon r|2013|          2.9|         4.41|     56879|   Petrol|      Manual|    0|              4.35|
|     swift|2011|          3.0|         4.99|     20000|   Petrol|      Manual|    0|               4.5|
|     swift|2013|         4.15|         5.87|     55138|   Petrol|      Manual|    0|6.2250000000000005|
|     swift|2017|          6.0|         6.49|     16200|   Petrol|      Manual|    0|               9.0|
+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
only showing top 20 rows

In [20]:
#df_pyspark.na.drop(how="", thresh = ,subset= ).show()
### any==how
new_df.na.drop(how="any").show()

+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|Model_name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Transmission|Owner|   Purchased price|
+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|       sx4|2013|         4.75|         9.54|     43000|   Diesel|      Manual|    0|             7.125|
|   wagon r|2011|         2.85|         4.15|      5200|   Petrol|      Manual|    0|             4.275|
|     swift|2014|          4.6|         6.87|     42450|   Diesel|      Manual|    0|6.8999999999999995|
|      ciaz|2015|         6.75|         8.12|     18796|   Petrol|      Manual|    0|            10.125|
|      ciaz|2016|         8.75|         8.89|     20273|   Diesel|      Manual|    0|            13.125|
|  alto 800|2017|         2.85|          3.6|      2135|   Petrol|      Manual|    0|             4.275|
|    ertiga|2015|          6.1|         7.71|     26000|   Petrol|      Manual|    0| 9.149999999999999|
|     dzire|2009|         2.25|         7.21|     77427|   Petrol|      Manual|    0|             3.375|
|    ertiga|2016|         7.75|        10.79|     43000|   Diesel|      Manual|    0|            11.625|
|    ertiga|2015|         7.25|        10.79|     41678|   Diesel|      Manual|    0|            10.875|
|   wagon r|2015|         3.25|         5.09|     35500|      CNG|      Manual|    0|             4.875|
|       sx4|2010|         2.65|         7.98|     41442|   Petrol|      Manual|    0|3.9749999999999996|
|  alto k10|2016|         2.85|         3.95|     25000|   Petrol|      Manual|    0|             4.275|
|     ignis|2017|          4.9|         5.71|      2400|   Petrol|      Manual|    0|7.3500000000000005|
|       sx4|2011|          4.4|         8.01|     50000|   Petrol|   Automatic|    0|6.6000000000000005|
|  alto k10|2014|          2.5|         3.46|     45280|   Petrol|      Manual|    0|              3.75|
|   wagon r|2013|          2.9|         4.41|     56879|   Petrol|      Manual|    0|              4.35|
|     swift|2011|          3.0|         4.99|     20000|   Petrol|      Manual|    0|               4.5|
|     swift|2013|         4.15|         5.87|     55138|   Petrol|      Manual|    0|6.2250000000000005|
|     swift|2017|          6.0|         6.49|     16200|   Petrol|      Manual|    0|               9.0|
+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
only showing top 20 rows

In [26]:
##Subset
new_df.na.drop(how="any",subset=['Selling_Price']).show()

+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|Model_name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Transmission|Owner|   Purchased price|
+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|      ritz|2014|         3.35|         5.59|      null|   Petrol|      Manual|    0|             5.025|
|       sx4|2013|         4.75|         9.54|     43000|   Diesel|      Manual|    0|             7.125|
|      ciaz|2017|         7.25|         null|      6900|   Petrol|      Manual|    0|            10.875|
|   wagon r|2011|         2.85|         4.15|      5200|   Petrol|      Manual|    0|             4.275|
|     swift|2014|          4.6|         6.87|     42450|   Diesel|      Manual|    0|6.8999999999999995|
|      ciaz|2015|         6.75|         8.12|     18796|   Petrol|      Manual|    0|            10.125|
|   s cross|2015|          6.5|         8.61|      null|   Diesel|      Manual|    0|              9.75|
|      ciaz|2016|         8.75|         8.89|     20273|   Diesel|      Manual|    0|            13.125|
|  alto 800|2017|         2.85|          3.6|      2135|   Petrol|      Manual|    0|             4.275|
|      ciaz|2015|         6.85|        10.38|      null|   Diesel|      Manual|    0|10.274999999999999|
|    ertiga|2015|          6.1|         7.71|     26000|   Petrol|      Manual|    0| 9.149999999999999|
|     dzire|2009|         2.25|         7.21|     77427|   Petrol|      Manual|    0|             3.375|
|    ertiga|2016|         7.75|        10.79|     43000|   Diesel|      Manual|    0|            11.625|
|    ertiga|2015|         7.25|        10.79|     41678|   Diesel|      Manual|    0|            10.875|
|    ertiga|2016|         7.75|         null|     43000|   Diesel|      Manual|    0|            11.625|
|   wagon r|2015|         3.25|         5.09|     35500|      CNG|      Manual|    0|             4.875|
|       sx4|2010|         2.65|         7.98|     41442|   Petrol|      Manual|    0|3.9749999999999996|
|  alto k10|2016|         2.85|         3.95|     25000|   Petrol|      Manual|    0|             4.275|
|     ignis|2017|          4.9|         5.71|      2400|   Petrol|      Manual|    0|7.3500000000000005|
|       sx4|2011|          4.4|         8.01|     50000|   Petrol|   Automatic|    0|6.6000000000000005|
+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
only showing top 20 rows

In [31]:
##threshold
df1 =new_df.na.drop()

In [32]:
df1.show()

+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|Model_name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Transmission|Owner|   Purchased price|
+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|       sx4|2013|         4.75|         9.54|     43000|   Diesel|      Manual|    0|             7.125|
|   wagon r|2011|         2.85|         4.15|      5200|   Petrol|      Manual|    0|             4.275|
|     swift|2014|          4.6|         6.87|     42450|   Diesel|      Manual|    0|6.8999999999999995|
|      ciaz|2015|         6.75|         8.12|     18796|   Petrol|      Manual|    0|            10.125|
|      ciaz|2016|         8.75|         8.89|     20273|   Diesel|      Manual|    0|            13.125|
|  alto 800|2017|         2.85|          3.6|      2135|   Petrol|      Manual|    0|             4.275|
|    ertiga|2015|          6.1|         7.71|     26000|   Petrol|      Manual|    0| 9.149999999999999|
|     dzire|2009|         2.25|         7.21|     77427|   Petrol|      Manual|    0|             3.375|
|    ertiga|2016|         7.75|        10.79|     43000|   Diesel|      Manual|    0|            11.625|
|    ertiga|2015|         7.25|        10.79|     41678|   Diesel|      Manual|    0|            10.875|
|   wagon r|2015|         3.25|         5.09|     35500|      CNG|      Manual|    0|             4.875|
|       sx4|2010|         2.65|         7.98|     41442|   Petrol|      Manual|    0|3.9749999999999996|
|  alto k10|2016|         2.85|         3.95|     25000|   Petrol|      Manual|    0|             4.275|
|     ignis|2017|          4.9|         5.71|      2400|   Petrol|      Manual|    0|7.3500000000000005|
|       sx4|2011|          4.4|         8.01|     50000|   Petrol|   Automatic|    0|6.6000000000000005|
|  alto k10|2014|          2.5|         3.46|     45280|   Petrol|      Manual|    0|              3.75|
|   wagon r|2013|          2.9|         4.41|     56879|   Petrol|      Manual|    0|              4.35|
|     swift|2011|          3.0|         4.99|     20000|   Petrol|      Manual|    0|               4.5|
|     swift|2013|         4.15|         5.87|     55138|   Petrol|      Manual|    0|6.2250000000000005|
|     swift|2017|          6.0|         6.49|     16200|   Petrol|      Manual|    0|               9.0|
+----------+----+-------------+-------------+----------+---------+------------+-----+------------------+
only showing top 20 rows

### filter operations

In [33]:
### car driven less than or equal to 20000
df1.filter("Kms_Driven<=3000").show()

+--------------------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|          Model_name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Transmission|Owner|   Purchased price|
+--------------------+----+-------------+-------------+----------+---------+------------+-----+------------------+
|            alto 800|2017|         2.85|          3.6|      2135|   Petrol|      Manual|    0|             4.275|
|               ignis|2017|          4.9|         5.71|      2400|   Petrol|      Manual|    0|7.3500000000000005|
|Royal Enfield Thu...|2016|         1.75|          1.9|      3000|   Petrol|      Manual|    0|             2.625|
|  UM Renegade Mojave|2017|          1.7|         1.82|      1400|   Petrol|      Manual|    0|              2.55|
|   Bajaj Dominar 400|2017|         1.45|          1.6|      1200|   Petrol|      Manual|    0|             2.175|
|   Bajaj Avenger 220|2017|          0.9|         0.95|      1300|   Petrol|      Manual|    0|              1.35|
|Honda CB Hornet 160R|2017|          0.8|         0.87|      3000|   Petrol|      Manual|    0|1.2000000000000002|
|   Bajaj Avenger 220|2016|         0.72|         0.95|       500|   Petrol|      Manual|    0|              1.08|
|           Activa 3g|2016|         0.45|         0.54|       500|   Petrol|   Automatic|    0|             0.675|
|    Hero Passion Pro|2016|         0.45|         0.55|      1000|   Petrol|      Manual|    0|             0.675|
|           Activa 4g|2017|          0.4|         0.51|      1300|   Petrol|   Automatic|    0|0.6000000000000001|
|   Suzuki Access 125|2008|         0.25|         0.58|      1900|   Petrol|   Automatic|    0|             0.375|
+--------------------+----+-------------+-------------+----------+---------+------------+-----+------------------+

In [34]:
### with above condition we get specific columns
df1.filter("Kms_Driven<=3000").select(["Model_name","Selling_Price"]).show()

+--------------------+-------------+
|          Model_name|Selling_Price|
+--------------------+-------------+
|            alto 800|         2.85|
|               ignis|          4.9|
|Royal Enfield Thu...|         1.75|
|  UM Renegade Mojave|          1.7|
|   Bajaj Dominar 400|         1.45|
|   Bajaj Avenger 220|          0.9|
|Honda CB Hornet 160R|          0.8|
|   Bajaj Avenger 220|         0.72|
|           Activa 3g|         0.45|
|    Hero Passion Pro|         0.45|
|           Activa 4g|          0.4|
|   Suzuki Access 125|         0.25|
+--------------------+-------------+